# --- Compiled Binaries (C/C++) ---
*.o
*.out
*.exe
build

# --- IDE & Editor Folders ---
.vscode/
.history/
*.log


# --- Operating System Files ---
.DS_Store
Thumbs.db
build-asan/
build-sanitize/
build-tsan/
build-check/
build-diag-off/
build-diag-off-check/
build-fixes/
